@import "../dropdown_picker";

@import "./apl_helpers";

.apl-rotation-picker-root {
	.input-root.apl-list-item-picker {
		flex-wrap: wrap;
		align-items: flex-start !important;

		.list-picker-title {
			width: unset;
			padding: 0;
			border: 0;
		}

		.list-picker-items {
			width: unset;
		}

		.list-picker-new-button {
			width: 100%;
		}
	}
}

.apl-list-item-picker-root {
	display: flex;
	align-items: center;
	flex-direction: row;
	margin: 5px;

	&> :not(:last-child) {
		margin-right: map.get($spacers, 2);
	}

	.number-picker-input {
		width: 100% !important;
	}
}

.apl-action-picker-root, .apl-value-picker-root {
	flex-direction: row;
	margin: 2px;

	.input-root {
		margin: 0;
		width: auto;
		align-items: center;
	}
}
.apl-list-item-picker-root > .apl-action-picker-root {
	flex-direction: column;
}

.apl-value-picker-root * {
	font-size: calc(var(--bs-btn-font-size) - 0.2rem);
}

.apl-list-item-picker > * > * > .list-picker-item {
	flex-grow: 1;
}

.apl-action-picker-action {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.apl-value-const-picker-root > input {
	text-align: center;
}

.hide-picker-root {
	margin: 0;
}