.apl-actionid-item-icon {
  display: inline-block;
  width: $icon-size-sm;
  height: $icon-size-sm;
  margin-right: map-get($spacers, 1);
  background-size: cover;
}

.apl-picker-builder-root {
  flex-direction: row;
  width: auto;
}

.apl-unit-picker {
  margin: auto 0.5rem auto 0 !important;
}