
.apl-actionid-item-icon {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin: 2px;
    background-size: cover;
}

.apl-picker-builder-root {
    flex-direction: row;
    align-items: center;
    width: auto;
}