@use "sass:map";

.cooldowns-picker-root {
	display: flex;
	flex-flow: column;

	.cooldown-picker {
		margin-bottom: $block-spacer;
		display: flex;
		align-items: center;
		justify-content: space-between;

		&.add-cooldown-picker {
			.delete-cooldown {
				visibility: hidden;
			}
		}

		&> :not(:last-child) {
			margin-right: map.get($spacers, 2);
		}

		.input-root.cooldown-timings-picker {
			margin-bottom: 0;
			margin-left: auto;

			input {
				width: 100%;
			}
		}
	}
}

// .cooldown-picker {
// 	display: flex;
// 	align-items: center;
// 	margin: 3px;
// }

// .cooldown-picker .number-list-picker {
// 	display: inline-block;
// }

// .delete-cooldown {
// 	color: red;
// 	margin: 3px;
// 	margin-left: 6px;
// 	font-size: 20px;
// 	cursor: pointer;
// }
// .add-cooldown-picker .delete-cooldown {
// 	opacity: 0;
// }

// .cooldown-picker-label {
// 	margin-left: 5px;
// 	font-size: 12px;
// 	min-width: 115px;
// }
