@use "sass:map";

@import "./apl_rotation_picker";

#rotation-tab {
	&.rotation-type-legacy {
		.rotation-tab-main {
			display: none;
		}
	
		.enum-picker-selector {
			width: 8rem;
		}
	}

	&.rotation-type-apl {
		.cooldown-settings {
			display: none;
		}
	
		.rotation-settings {
			display: none;
		}
	}

	.rotation-tab-left {
		flex-wrap: wrap;
	}

	.rotation-tab-header {
		width: 100%;
	}

	.rotation-settings {
		flex: 1;
		margin-right: 2 * map.get($spacers, 3);
	}

	.cooldown-settings {
		flex: 1;
	}
}

@include media-breakpoint-down(md) {
	#rotation-tab {
		.rotation-settings {
			margin-right: 0;
		}
	}	
}
