.talents-tab {
  .tab-pane-content-container {
    .tab-panel-left {
      flex: 4;
    }
  }

  .hunter-talents-pickers-container {
    width: 100%;
    margin-top: -1.4rem;
    display: flex;
    flex-direction: column;

    &> * {
      width: 100%;
    }

    .tab-pane {
      @extend .tab-panel-left;

      &.active {
        display: flex;
        align-items: flex-start;
      }
    }
  }
}

@include media-breakpoint-down(xxl) {
  .talents-tab {
    .tab-pane-content-container {
      .tab-panel-left {
        flex-direction: column;
      }
    }
  }
}
