$theme: 'druid';

// Set color variables which control the site theme.
.balance-druid-sim-ui {
	--theme-color-background: #1d1510;
	--theme-color-background-raw: 29, 21, 16;
	--theme-background-image: url('/wotlk/assets/img/balance_druid_background.jpg');
	--theme-background-opacity: 0.95;
	--main-text-color: White;
}
