// Set color variables which control the site theme.
.shadow-priest-sim-ui {
	--theme-color-primary: #9b57f7;
	--theme-color-background: #1d1726;
	--theme-color-background-raw: 29, 23, 38;
	--theme-background-image: url('/tbc/assets/shadow_priest_background.jpg');
	--theme-background-opacity: 0.95;
	--main-text-color: White;
}

// Set grid width for icon sections based on how many buffs we configured.
.shadow-priest-sim-ui .self-buffs-section {
  grid-template-columns: repeat(3, 1fr);
}
.shadow-priest-sim-ui .buffs-section {
  grid-template-columns: repeat(6, 1fr);
}
.shadow-priest-sim-ui .debuffs-section {
  grid-template-columns: repeat(3, 1fr);
}

// Shadow has a lot of EP stats, so make the text smaller so it fits vertically.
.shadow-priest-sim-ui .character-stats-table-row {
  font-size: 14px;
}
