@import "../core/shared";
@import "../core/sim_ui";
@import "dps_histogram";
@import "player_damage";
@import "resource_metrics";
@import "results_filter";
@import "source_chart";
@import "timeline";
@import "topline_results";

body {
	background-color: transparent;
	overflow: auto;
	max-height: 100vh;
	color: var(--main-text-color);
}
body.new-tab {
	background-image:
		linear-gradient(rgba(var(--theme-color-background-raw), var(--theme-background-opacity)), rgba(var(--theme-color-background-raw), var(--theme-background-opacity))),
		var(--theme-background-image);
}

.all-players .single-player-only {
	display: none;
}

.single-player .all-players-only {
	display: none;
}

.individual-sim .single-player-only {
	display: initial;
}
.individual-sim .all-players-only {
	display: none;
}

.dr-root {
	margin: 10px;
}

.dr-row {
	padding: 10px;
}

.table-container {
	border: 1px solid white;
}

.dr-toolbar {
	display: flex;
}

.nav-tabs {
	border-bottom-color: var(--theme-color-primary);
	color: var(--main-text-color);
}
.nav-tabs>li>a {
	color: var(--main-text-color) !important;
	border: none !important;
	border-radius: 0 !important;
	margin: 0.1vh 0.1vw 0.1vh 0.1vw;
	font-weight: bold;
}
.nav-tabs>li>a:hover, .nav-tabs>li.active>a {
	background-color: var(--theme-color-primary) !important;
}

.results-filter {
	display: flex !important;
	align-items: center;
}

.individual-sim .player-filter-root {
	display: none !important;
}

.tabs-filler {
	flex-grow: 1;
}

.other-metrics {
	display: flex;
	width: 100%;
}

.topline-results {
}

.metrics-table {
  color: var(--main-text-color);
	width: 100%;
	font-size: 16px;
}

.melee-metrics-root .metrics-table {
	font-size: 12px;
}

.hide-in-front-of-target.melee-metrics-root .metrics-table, .hide-threat-metrics .melee-metrics-root .metrics-table {
	font-size: 14px;
}

.hide-threat-metrics .hide-in-front-of-target.melee-metrics-root .metrics-table {
	font-size: 16px;
}

.metrics-table-header-row {
	border-bottom: 2px solid white;
}

.metrics-table-header-cell {
	padding: 3px 1px;
	cursor: pointer;
}

.metrics-table-body tr {
	border-bottom: 1px solid var(--main-text-color);
}

.metrics-table-body tr:hover {
	background-color: rgba(255, 255, 0, 0.2);
}

.metrics-table-body td {
	padding: 2px 1px;
}

.metrics-table-header-cell:first-child, .metrics-table-body td:first-child {
	text-align: left;
}
.metrics-table-header-cell:not(:first-child), .metrics-table-body td:not(:first-child) {
	text-align: right;
}

.metrics-action-icon {
  @include wowhead-background-icon;
	height: 30px;
	width: 30px;
	vertical-align: middle;
}

.parent-metric {
	cursor: pointer;
}
.child-metric>*:first-child {
	padding-left: 20px;
}
.expand-toggle {
}
tr:not(.parent-metric) .expand-toggle {
	display: none;
}
.parent-metric.expand .fa-caret-down {
	display: none;
}
.parent-metric:not(.expand) .fa-caret-right {
	display: none;
}
