.assigned-buff-picker-root {
	&:not(:last-child) {
		margin-bottom: $block-spacer * 2;
	}

	.assigned-buff-player {
		display: flex;

		&:not(:last-child) {
			margin-bottom: $block-spacer;
		}
	}

	.assigned-buff-arrow {
		margin: 0 $block-spacer;
	}
}
