@use "sass:map";

@import "./assignments_picker";
@import "./blessings_picker";
@import "./raid_picker";
@import "./tanks_picker";

.raid-settings-tab {
	overflow-y: auto;
}

.raid-settings-sections {
  position: relative;

  .settings-section-container {
    position: absolute;
    margin-bottom: 2 * map.get($spacers, 3);
    margin-right: 2 * map.get($spacers, 3);

    .raid-encounter-section {
      .encounter-picker-root {
        flex-direction: column;

        .picker-group {
          flex-direction: column;
        }
      }
    }
  }
}

.dropdown-panel {
	display: none;
	position: absolute;
	z-index: 1;
	box-shadow: 2px 4px 20px 5px #000;
}

.dropdown-option-container {
	background-color: gray;
}

.dropdown-option {
	display: flex;
	align-items: center;
	cursor: pointer;
}

*:not(.dropdown-button) > * > .dropdown-option:not(:hover) {
	opacity: 0.7;
}
