@use "sass:map";

@import "./assignments_picker";
@import "./blessings_picker";
@import './player';
@import './player_editor';
@import "./raid_picker";
@import "./raid_stats";
@import "./tanks_picker";

@import "./raid_tab";
@import "./settings_tab";

.raid-settings-tab {
	overflow-y: auto;
}

.raid-settings-sections {
  position: relative;

  .settings-section-container {
    position: absolute;
    margin-bottom: 2 * map-get($spacers, 3);
    margin-right: 2 * map-get($spacers, 3);

    .raid-encounter-section {
      .encounter-picker-root {
        flex-direction: column;

        .picker-group {
          flex-direction: column;
        }
      }
    }

		.consumes-section {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr 1fr;

			.icon-picker-root {
				margin: 3px;
			}
		}
  }
}
