// Set color variables which control the site theme.
.raid-sim-ui {
	--theme-color-background: #000000;
	--theme-color-background-raw: 0, 0, 0;
	--theme-background-image: url('/wotlk/assets/img/ulduar.jpg');
	--theme-background-opacity: .8;
	--main-text-color: White;
}
