// Set color variables which control the site theme.
.raid-sim-ui {
	--theme-color-primary: #a80b00;
	--theme-color-background: #000000;
	--theme-color-background-raw: 0, 0, 0;
	--main-text-color: White;
	--sidebar-bg-color: #222;
}
