:root {
	--bs-body-font-size: 14px;
	--bs-gap: 1vw;
	--theme-color-primary: black;
	--theme-color-background: DarkSlateGrey;
	--theme-color-background-raw: 0, 0, 0;
	--theme-background-image: linear-gradient(black, black);
	--theme-background-opacity: 0.9;
	--main-bg-color: DarkSlateGrey;
	--main-text-color: White;
	--main-secondary-color: Black;
	--sidebar-bg-color: DarkKhaki;
	--sidebar-text-color: White;
	--sidebar-highlight-color: Blue;
}

.hide {
	display: none !important;
}

@font-face {
	font-family: SimDefaultFont;
	src: url(/wotlk/assets/fonts/PlusJakartaSans-Regular.woff2);
}

@font-face {
	font-family: SimDefaultFont;
	src: url(/wotlk/assets/fonts/PlusJakartaSans-Bold.woff2);
	font-weight: bold;
}

* {
	font-family: SimDefaultFont;
	letter-spacing: 1px;
}

$sim-transitions: .2s ease-in;

@mixin vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@mixin horizontal-center {
  margin: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@mixin vertical-horizontal-center {
  margin: 0 !important;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}

@mixin vertical-bottom {
  position: absolute;
  bottom: 0;
}

@mixin horizontal-left {
  position: absolute;
  left: 0;
}

@mixin horizontal-right {
  position: absolute;
  right: 0;
}

@mixin screen-vertical-horizontal-center {
  margin: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.item-quality-junk {
  color: #fff !important;
}

.item-quality-common {
  color: white !important;
}

.item-quality-uncommon {
  color: #1eff00 !important;
}

.item-quality-rare {
  color: #0070dd !important;
}

.item-quality-epic {
  color: #a335ee !important;
}

.item-quality-legendary {
  color: #ff8000 !important;
}

#bootstrap-overrides .socket-color-blue {
  border: 1px solid blue !important;
}

#bootstrap-overrides .socket-color-meta {
  border: 1px solid white !important;
}

#bootstrap-overrides .socket-color-red {
  border: 1px solid red !important;
}

#bootstrap-overrides .socket-color-yellow {
  border: 1px solid yellow !important;
}

#bootstrap-overrides .socket-color-prismatic{
  border: 1px solid pink !important;
}

@mixin wowhead-background-icon {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  cursor: pointer;
  display: inline-block;
}

.dropdown-root {
	position: relative;
	display: inline-block !important;
	white-space: nowrap;
}

.dropdown-button {
	cursor: pointer;
	background-color: gray;
}

.dropdown-panel {
	display: none;
	position: absolute;
	z-index: 1;
	box-shadow: 2px 4px 20px 5px #000;
}
.multi-icon-picker-dropdown {
	margin-left: 25px;
	margin-top: -25px;
	background-color: #000 !important;
	border: 1px gray solid;
	padding: 1px;
}
.multi-icon-dropdown-container {
	margin: 2px;
}
.icon-enum-picker-dropdown {
	background-color: #000;
	border: 1px gray solid;
	padding: 1px;
}

.dropdown-panel-column {
	display: inline-flex;
	flex-direction: column;
}

.dropdown-root:hover .dropdown-panel {
	display: grid !important;
}

.dropdown-option-container {
	background-color: gray;
}

.dropdown-option {
	display: flex;
	align-items: center;
	cursor: pointer;
}

*:not(.dropdown-button) > * > .dropdown-option:not(:hover) {
	opacity: 0.7;
}

.positive {
	color: lawngreen !important;
}
.negative {
	color: red !important;
}

.safe {
	color: lawngreen;
}
.warning {
	color: yellow;
}
.danger {
	color: red;
}

.bold {
	font-weight: bold;
}

.sim-button {
	color: var(--main-text-color);
	background-color: var(--theme-color-primary);
	border: none;
	padding: 5px;
	font-weight: bold;
}

.labeled-icon-section {
}
.labeled-icon-section>fieldset>.multi-icon-picker-root, .labeled-icon-section>fieldset>.icon-input-root {
	display: flex !important;
	align-items: center;
	justify-content: end;
	font-size: 10px;
	margin: 2px;
}
.labeled-icon-section>fieldset>.multi-icon-picker-root>*, .labeled-icon-section>fieldset>.icon-input-root>* {
	margin: 0 4px 0 0;
}

.labeled-icon-section .multi-icon-picker-button {
	height: 45px;
	width: 45px;
	display: block;
}
.labeled-icon-section .icon-input {
	// Needs border*2 extra size because <a> is weird
	height: 49px;
	width: 49px;
	display: block;
}

a {
	text-decoration: none;
}

input, select, .sim-input {
	color: var(--main-text-color);
	background-color: #1e2633;
	border: 1px solid #373e58;
	padding: 3px;
}

// Override Bootstrap styling to keep inline with fieldset border
legend {
	float: none;
	width: auto;
}

.dropdown-item {
	color: var(--main-text-color);

	&:hover {
		color: var(--main-text-color);
	}
}
