:root {
	--bs-body-font-size: 14px;
	--bs-gap: 1vw;
	--theme-color-background: DarkSlateGrey;
	--theme-color-background-raw: 0, 0, 0;
	--theme-background-image: linear-gradient(black, black);
	--theme-background-opacity: 0.9;
	--main-bg-color: DarkSlateGrey;
	--main-text-color: White;
	--main-secondary-color: Black;
	--sidebar-bg-color: DarkKhaki;
	--sidebar-text-color: White;
	--sidebar-highlight-color: Blue;
}

@font-face {
	font-family: SimDefaultFont;
	src: url(/wotlk/assets/fonts/PlusJakartaSans-Regular.woff2);
}

@font-face {
	font-family: SimDefaultFont;
	src: url(/wotlk/assets/fonts/PlusJakartaSans-Bold.woff2);
	font-weight: bold;
}

* {
	font-family: SimDefaultFont;
	letter-spacing: 1px;
}

$sim-transitions: .2s ease-in;

@mixin vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@mixin horizontal-center {
  margin: 0;
  position: absolute;
  left: auto;
	right: auto;
}

@mixin vertical-horizontal-center {
  margin: 0 !important;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}

@mixin vertical-bottom {
  position: absolute;
  bottom: 0;
}

@mixin horizontal-left {
  position: absolute;
  left: 0;
}

@mixin horizontal-right {
  position: absolute;
  right: 0;
}

@mixin screen-vertical-horizontal-center {
  margin: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@mixin wowhead-background-icon {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  cursor: pointer;
  display: inline-block;
}

.dropdown-root {
	position: relative;
	display: inline-block !important;
	white-space: nowrap;
}

.dropdown-root:hover .dropdown-panel {
	display: grid !important;
}

.dropdown-button {
	cursor: pointer;
	background-color: gray;
}

.dropdown-panel {
	display: none;
	position: absolute;
	z-index: 1;
	box-shadow: 2px 4px 20px 5px #000;
}

.dropdown-option-container {
	background-color: gray;
}

.dropdown-option {
	display: flex;
	align-items: center;
	cursor: pointer;
}

*:not(.dropdown-button) > * > .dropdown-option:not(:hover) {
	opacity: 0.7;
}

.positive {
	color: lawngreen !important;
}
.negative {
	color: red !important;
}

.safe {
	color: lawngreen;
}
.warning {
	color: yellow;
}
.danger {
	color: red;
}

.bold {
	font-weight: bold;
}

a {
	text-decoration: none;
}

// Override Bootstrap styling to keep inline with fieldset border
legend {
	float: none;
	width: auto;
}

.dropdown-item {
	color: var(--main-text-color);

	&:hover {
		color: var(--main-text-color);
	}
}
