@use "sass:map";

$gap-width: 1.5rem;
$gap-width-sm: .5rem;
$link-danger-color: #ef9eaa;
$wrath-blue: #7FCBD8;

* {
  letter-spacing: 1px;
}

html {
  height: 100%;
}

body {
  height: 100%;
  opacity: 0;
  transition: opacity .25s linear;

  &.ready {
    opacity: 1;
  }
}

a {
  outline: none;
  transition: color .15s ease-in-out;

  &.link-alt {
    color: white;

    &:hover, &:focus, &.active {
      color: $primary;
    }
  }
}

label {
  font-weight: bold;
}

hr {
  border-top: 1px solid;
  border-bottom: 1px solid;
}

.hide {
  display: none !important;
}
