@use "sass:map";

$gap-width: 1.5rem;
$gap-width-sm: .5rem;

$link-danger-color: #ef9eaa;
$wrath-blue: #7FCBD8;

$item-quality-junk:      #9d9d9d;
$item-quality-common:    #ffffff;
$item-quality-uncommon:  #1eff00;
$item-quality-rare:      #0070dd;
$item-quality-epic:      #a335ee;
$item-quality-legendary: #ff8000;

$socket-color-meta:      #9d9ea0;
$socket-color-red:       #8f222f;
$socket-color-blue:      #0070dd;
$socket-color-yellow:    #d8cc60;

* {
  letter-spacing: 1px;
}

html {
  height: 100%;
}

body {
  height: 100%;
  // Bootstrap adds padding-right when Modals open for some reason, causing popping
  padding-right: 0 !important;
  // Prevent browser scrollbars from adjusting page contents
  margin-right: calc(-1 * (100vw - 100%));
  overflow-x: hidden;
  opacity: 0;
  transition: opacity .15s linear;

  &.ready {
    opacity: 1;
  }
}

a {
  outline: none;
  transition: color .15s ease-in-out;

  &.link-alt {
    color: white;

    &:hover, &:focus, &.active {
      color: $brand-color;
    }
  }
}

label {
  font-weight: bold;
}

hr {
  border-top: 1px solid;
  border-bottom: 1px solid;
}

.hide {
  display: none !important;
}

.item-quality-junk {
  color: $item-quality-junk !important;
}

.item-quality-common {
  color: $item-quality-common !important;
}

.item-quality-uncommon {
  color: $item-quality-uncommon !important;
}

.item-quality-rare {
  color: $item-quality-rare !important;
}

.item-quality-epic {
  color: $item-quality-epic !important;
}

.item-quality-legendary {
  color: $item-quality-legendary !important;
}

.gem-socket-container {
  position: relative;
  width: 1.25rem;
  height: 1.25rem;
  
  &:not(:last-child) {
    margin-right: 1px;
  }

  .gem-icon {
    @include wowhead-background-icon;
    position: absolute;
    width: 1rem;
    height: 1rem;
    inset: .125rem;
    border-radius: 100%;
    z-index: 1;
  }

  .socket-icon {
    @include wowhead-background-icon;
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
  }
}
