@use "sass:map";

* {
  letter-spacing: 1px;
}

html {
  height: 100%;
  color-scheme: dark;
}

body {
  height: 100%;
  // Bootstrap adds padding-right when Modals open for some reason, causing popping
  padding-right: 0 !important;
  // Prevent browser scrollbars from adjusting page contents
  margin-right: calc(-1 * (100vw - 100%));
  overflow-x: hidden;
  opacity: 0;
  transition: opacity .25s linear;

  &.ready {
    opacity: 1;
  }
}

a {
  outline: none;
  transition: color .15s ease-in-out;

  &.link-alt {
    color: white;

    &:hover, &:focus, &.active {
      color: $brand-color;
    }
  }
}

label {
  font-weight: bold;
}

hr {
  border-top: 1px solid;
  border-bottom: 1px solid;
}

.dragto:not(.dragfrom) {
  filter: brightness(.75);
}

.hide {
  display: none !important;
}

[contenteditable="true"]:active,
[contenteditable="true"]:focus {
  border:none;
  outline:none;
}

[draggable="true"] {
  cursor: pointer;
}
