// Bootstrap functions & variables
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

// Custom Bootstrap theme overrides
@import "bootstrap_theme_overrides";

// Bootstrap configuration
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";

// Bootstrap layout & components
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/helpers";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/dropdown";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar";

// Bootstrap Utilities API
@import "./bootstrap/scss/utilities/api";

// Custom Bootstrap style overrides
@import "./bootstrap_style_overrides";

// Import other plugin styles
@import "tippy.js/dist/tippy";

// Custom styles
@import "./global";
@import "./global_old";
