
.blessings-table-header-cell {
	padding: 2px 10px;
}

.blessings-table-header-cell img {
	height: 50px;
	margin: 1px;
}

.blessings-table-body {
}

// Filters create their own stacking contexts which messes with z-ordering,
// so we have to apply this to the individual elements rather than the row.
.blessings-table-cell:not(.paladin-active) .dropdown-option {
	filter: grayscale(1);
}
.blessings-table-cell:not(.paladin-active) .dropdown-button {
	filter: grayscale(1);
}

.blessings-table-cell {
	padding: 2px 10px;
}
