@import "../core/individual_sim_ui";
@import "../balance_druid/sim";
@import "../feral_druid/sim";
@import "../feral_tank_druid/sim";
@import "../hunter/sim";
@import "../mage/sim";
@import "../elemental_shaman/sim";
@import "../enhancement_shaman/sim";
@import "../rogue/sim";
@import "../retribution_paladin/sim";
@import "../protection_paladin/sim";
@import "../shadow_priest/sim";
@import "../smite_priest/sim";
@import "../warrior/sim";
@import "../protection_warrior/sim";

@import "./raid_sim_ui";

// Set color variables which control the site theme.
.raid-sim-ui {
	--theme-color-primary: #a80b00;
	--theme-color-background: #000000;
	--theme-color-background-raw: 0, 0, 0;
	--main-text-color: White;
	--sidebar-bg-color: #222;
}
