.bonus-stats-root {
  margin: 10px;
}

.bonus-stats-label {
  font-size: 18px;
  font-weight: 700;
}

.bonus-stats-root .number-picker-root {
  display: flex;
  align-items: center;
}

.bonus-stats-root .input-label-div {
	margin: 1px;
}

.bonus-stats-root .number-picker-input {
	margin: 1px;
	padding: 1px;
}

.bonus-stats-root .number-picker-root.positive .input-label {
	font-weight: bold;
	text-shadow: 2px 2px 3px black;
}

.bonus-stats-root .number-picker-root.negative .input-label {
	font-weight: bold;
	text-shadow: 2px 2px 3px black;
}
