@import "./input";

.cooldowns-picker-root {
}

.cooldown-picker {
	display: flex;
	align-items: center;
	margin: 3px;
}

.cooldown-picker .number-list-picker {
	display: inline-block;
}

.delete-cooldown {
	color: red;
	margin: 3px;
	margin-left: 6px;
	font-size: 20px;
	cursor: pointer;
}
.add-cooldown-picker .delete-cooldown {
	opacity: 0;
}

.cooldown-picker-label {
	margin-left: 5px;
	font-size: 12px;
	min-width: 115px;
}
