.detailed-results-manager-root {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.detailed-results-controls-div {
}

.detailed-results-new-tab-button {
	margin: 5px;
	color: black;
}

.detailed-results-iframe {
	flex-grow: 1;
	border: 1px solid var(--main-text-color);
}
