@import "../shared";

.icon-picker-root {
}

$icon-active-border-color: lawngreen;

.icon-input {
  @include wowhead-background-icon;
  width: 50px;
  height: 50px;
  transition: $sim-transitions;
  border: 2px solid $icon-active-border-color;
  margin: 1px;
}

.icon-input:not(.active), .icon-input-improved:not(.active), .icon-input-counter:not(.active) {
  filter: grayscale(100%);
  border-color: dimgray;
}

.icon-input-level-container {
  @include vertical-bottom;
  @include horizontal-right;
  margin: 3px;
	display: flex;
}

.icon-input-level-container * {
  width: 20px;
  height: 20px;
}

.icon-input-improved {
  @include wowhead-background-icon;
  transition: .2s ease-in;
  border: 1px solid $icon-active-border-color;
}
.icon-input:not(.use-improved-icons) .icon-input-improved {
  display: none;
}
.icon-input:not(.use-improved-icons2) .icon-input-improved2 {
  display: none;
}

.icon-input-counter {
  font-weight: 900;
  background-color: black;
  color: $icon-active-border-color;
  border: none;
	width: auto;
	padding: 0 2px;
}
.icon-input:not(.use-counter) .icon-input-counter {
  display: none;
}
