@import "./popup";

.importer {
	text-align: center;
}

.importer-title {
	display: block;
	font-size: 24px;
	font-weight: bold;
	margin: 10px;
}

.import-description {
	text-align: left;
	padding: 5px;
}

.importer-textarea {
	width: 100%;
	height: 40vh;
	background-color: #111218;
	resize: none;
}

.importer-button {
	cursor: pointer;
}

.importer-button:disabled {
	cursor: wait;
	background-color: gray;
	color: white;
}

.importer-upload-input {
	display: none !important;
}

.importer .actions-row {
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 10px;
}
