.log-runner-root {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.log-runner-control-bar {
}

.log-runner-button {
	margin: 5px;
	color: black;
}

.log-runner-logs {
	overflow-y: scroll;
	flex-grow: 1;
}

.log-runner-logs > span {
	display: block;
}
