@import "../shared";

.results-sim {
  text-align: center;
}

.results-sim-dps {
  text-align: center;
}
.results-sim-tps {
  text-align: center;
}

.topline-result-avg {
  font-size: 18px;
  font-weight: 700;
}
.hide-threat-metrics .topline-result-avg {
	font-size: 30px;
}

.topline-result-avg:after {
  font-size: 12px;
}
.hide-threat-metrics .topline-result-avg:after {
  font-size: 18px;
}
.results-sim-dps .topline-result-avg:after {
  content: " DPS";
}
.results-sim-tps .topline-result-avg:after {
  content: " TPS";
}
.results-sim-dtps .topline-result-avg:after {
  content: " DTPS";
}
.results-sim-chanceOfDeath .topline-result-avg:after {
  content: "% Chance of Death";
	font-size: 9px;
}
.hide-threat-metrics .results-sim-chanceOfDeath .topline-result-avg:after {
	font-size: 12px;
}

.topline-result-stdev {
  font-size: 12px;
  font-weight: 700;
}
.hide-threat-metrics .topline-result-stdev {
  font-size: 18px;
}
.topline-result-stdev:before {
  content: " \00b1";
  padding: 2px;
}

.topline-result-label {
  font-size: 12px;
  font-weight: 700;
}
.hide-threat-metrics .topline-result-label {
  font-size: 18px;
}

.results-sim-reference.has-reference .results-sim-set-reference {
	display: none;
}
.results-sim-reference:not(.has-reference) .results-sim-reference-bar {
	display: none;
}

.results-sim-set-reference {
	cursor: pointer;
	font-size: 24px;
	color: var(--theme-color-primary);
}

.results-sim-reference-swap {
	color: blue;
	cursor: pointer;
	user-select: none;
	margin: 5px;
}

.results-sim-reference-delete {
	color: red;
	cursor: pointer;
	user-select: none;
	margin: 5px;
}
