.sim-title-root {
	display: block !important;
	height: 100%;
	color: white;
}

.sim-title-button {
	background-color: transparent !important;
}

.sim-title-button .sim-title-label {
	display: block;
}

.sim-title-label-container {
	text-align: left;
	width: 100%;
}

.sim-title-dropdown {
	position: fixed !important;
	z-index: 9999 !important;
	grid-template-columns: repeat(2, 1fr);
	grid-auto-flow: column;
}

.sim-title-button .sim-title-dropdown-option-container {
	background: transparent;
}

.sim-title-option {
	width: 100%;
	height: 100%;
}

.sim-title-icon {
	margin: 5px;
	height: 50px;
}

.sim-title-label {
	margin: 2px 5px;
}

.sim-title-sim-label {
	color: white;
	font-size: 14px;
}

.sim-title-spec-label {
	color: var(--theme-color-primary);
	font-size: 16px;
	font-weight: bold;
}

.dropdown-panel .sim-title-spec-label {
	color: var(--main-text-color);
	text-shadow:
		0 0 3px black,
		0 0 3px black,
		0 0 3px black;
}
