@import "../../core/sim_ui";
@import "../../core/components/detailed_results";

body {
	background-color: transparent;
	overflow: auto;
	max-height: 100vh;
	color: white;
}

body.new-tab {
	background-image:
		linear-gradient(
			rgba(var(--theme-background-color), var(--theme-background-opacity)),
			rgba(var(--theme-background-color), var(--theme-background-opacity))
		),
		var(--theme-background-image);
	background-repeat: no-repeat;
	background-size: cover;

	.dr-root {
		padding: $gap-width var(--container-padding);
	}
}
