@import "../../core/sim_ui";
@import "../../core/components/detailed_results";
@import "../../sims/index";

body {
	background-color: transparent;
	overflow: auto;
	max-height: 100vh;
	color: white;
}

body.new-tab {
	.dr-root {
		padding: $gap-width var(--container-padding);

		.dr-toolbar {
			top: -1px;
		}
	}
}
