@import "../../core/sim_ui";
@import "../../core/components/detailed_results";

body {
	background-color: transparent;
	overflow: auto;
	max-height: 100vh;
	color: var(--main-text-color);
}

body.new-tab {
	background-image:
		linear-gradient(rgba(var(--theme-color-background-raw), var(--theme-background-opacity)), rgba(var(--theme-color-background-raw), var(--theme-background-opacity))),
		var(--theme-background-image);

	.dr-root {
		padding: $gap-width $gap-width * 2;
	}
}
