.talents-picker-root {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow-y: auto;
  min-width: 33vh;
}

.talent-tree-picker-root {
  padding: 4px;
  border-radius: 6px;
  margin: 1px;
  flex: 1;
}

.talent-tree-header {
  padding: 6px;
  text-align: center;
  color: white;
  background: #444;
}

.talent-tree-title {
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
}

.talent-tree-reset {
  float: right;
  color: red;
  font-size: 20px !important;
  cursor: pointer;
}
.talents-picker-root.frozen .talent-tree-reset {
	display: none;
}

.talent-tree-main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  // grid-template-rows: repeat(9, 1fr); // Set in js
  // height: 72vh; // Set in js
  // width: 32vh; // Set in js
  background-size: 100% 100%;
  border-radius: 4px;
}

$talent-partial-color: #40BF40;
$talent-full-color: #ffd100;

.talent-picker-root {
  @include wowhead-background-icon;
  border: 1px solid $talent-partial-color;
  border-radius: 4px;
  margin: 15%;
}
.talent-picker-root[data-points="0"]:not(.talent-picker-can-add) {
  filter: grayscale(100%);
}
.talent-picker-root.talent-full {
  border-color: $talent-full-color;
}

.talent-picker-points {
  margin: 0;
  color: $talent-partial-color;
  background-color: black;
  position: absolute;
  bottom: -8px;
  right: -8px;
  padding: 0px 2px;
  font-size: 13px;
}
.talent-picker-root[data-points="0"]:not(.talent-picker-can-add) .talent-picker-points {
  filter: grayscale(100%);
}
.talent-picker-root.talent-full .talent-picker-points {
  color: $talent-full-color;
}
.talents-picker-root.talents-full .talent-picker-root[data-points="0"] .talent-picker-points {
  display: none;
}

.icon-input:not(.active), .icon-input-improved:not(.active), .icon-input-counter:not(.active) {
  border-color: dimgray;
}
