$theme: 'shaman';

// Set color variables which control the site theme.
.elemental-shaman-sim-ui {
	--theme-color-background: #181d2d;
	--theme-color-background-raw: 24, 29, 45;
	--theme-background-image: url('/wotlk/assets/img/elemental_shaman_background.jpg');
	--theme-background-opacity: 0.95;
	--main-text-color: White;
}
