$theme: 'warrior';

// Set color variables which control the site theme.
.protection-warrior-sim-ui {
	--theme-color-background: #1c1408;
	--theme-color-background-raw: 28, 20, 8;
	--theme-background-image: url('/wotlk/assets/img/protection_warrior_background.jpg');
	--theme-background-opacity: 0.95;
	--main-text-color: White;
}
