.player-pet-toggle {
	width: 100%;
	margin-bottom: $block-spacer;
	display: flex;
	align-items: center;

	.enum-picker-root {
		width: unset;
		margin-bottom: 0;

		& +.icon-picker {
			margin-left: $block-spacer;
		}

		select {
			min-width: 10rem;
			width: unset;
		}
	}
}

@include media-breakpoint-down(xl) {
	.player-pet-toggle {
		.input-root {
			select {
				width: 100%;
			}
		}
	}
}

.hunter-pet-talents-cunning, .hunter-pet-talents-ferocity, .hunter-pet-talents-tenacity {
	display: none !important;
}

.cunning .hunter-pet-talents-cunning {
	display: initial !important;
}
.ferocity .hunter-pet-talents-ferocity {
	display: initial !important;
}
.tenacity .hunter-pet-talents-tenacity {
	display: initial !important;
}

.pet-talents-container .saved-data-container {
	display: flex;
	justify-content: center;
}
