// Set color variables which control the site theme.
.healing-priest-sim-ui {
	--theme-color-primary: #908986;
	--theme-color-background: #1d1726;
	--theme-color-background-raw: 29, 23, 38;
	--theme-background-image: url('/wotlk/assets/img/smite_priest_background.jpg');
	--theme-background-opacity: 0.95;
	--main-text-color: White;
}
