// Set color variables which control the site theme.
.warlock-sim-ui {
	--theme-color-primary: #a35ec0;
	--theme-color-background: rgb(24, 18, 27);
	--theme-color-background-raw: 24, 18, 27;
	--theme-background-image: url('/tbc/assets/warlock_background.jpg');
	--theme-background-opacity: 0.93;
	--main-text-color: White;
}

// Set grid width for icon sections based on how many buffs we configured.
.warlock-sim-ui .self-buffs-section {
  grid-template-columns: repeat(2, 1fr);
}
.warlock-sim-ui .buffs-section {
  grid-template-columns: repeat(5, 1fr);
}
.warlock-sim-ui .debuffs-section {
  grid-template-columns: repeat(4, 1fr);
}

.warlock-sim-ui .warlock-summon-picker {
	width: 50px;
}