$theme: 'priest';

// Set color variables which control the site theme.
.shadow-priest-sim-ui {
	--theme-color-background: #1d1726;
	--theme-color-background-raw: 29, 23, 38;
	--theme-background-image: url('/wotlk/assets/img/shadow_priest_background.jpg');
	--theme-background-opacity: 0.95;
	--main-text-color: White;
}
