.character-stats-root {
  width: 100%;
  height: 100%;
  padding: 10px;
}

.character-stats-table {
  width: 100%;
}

.character-stats-table-row {
  width: 100%;
}

.character-stats-table-label {
  text-align: left;
  padding: 8px 10px 1px 10px;
}

.character-stats-table-value {
  text-align: right;
  padding: 8px 10px 1px 10px;
}

.character-stats-tooltip-row {
  width: 100%;
	display: flex;
	justify-content: space-between;
	margin: 5px;
}
