@use "sass:map";

.close-button {
	white-space: nowrap;
	line-height: 1.5;
	z-index: 2;
	order: 1;

	&> i {
		vertical-align: middle;
	}

	&.position-fixed {
		top: calc(var(--bs-modal-margin) + 1rem);
		right: calc(2.5vw + 1px + 1rem);
	}
}
