.dropdown-picker-button, .dropdown-picker-item .dropdown-item {
    display: flex;
    align-items: center;
}

.dropdown-picker-item .dropdown-submenu {
    left: -1px !important;
}

.dropdown-picker-root .dropdown {
    width: auto;
}

.dropdown-header {
  color: #87a4bd;
}

.dropdown-tooltip {
    pointer-events: none;
}
.dropdown-tooltip .tooltip-inner {
    max-width: 35vw;
    text-align: left;
}