@use "sass:map";

@import "./filters_menu";

.gear-picker-root {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  .gear-picker-left,
  .gear-picker-right {
    width: 50%;
  }

  .item-picker-root {
    display: flex;

    &:not(:last-child) {
      margin-bottom: $block-spacer;
    }

    .item-picker-icon {
      @include wowhead-background-icon;
      width: 4rem;
      height: 4rem;
      border: 1px solid $border-color;
    }
  }

  .gear-picker-left {
    .item-picker-root {
      flex-direction: row;
      text-align: left;
  
      // Add space to separate weapon categories
      &:nth-child(6) {
        margin-bottom: map.get($spacers, 5);
      }
    }
  }

  .gear-picker-right {
    .item-picker-root {
      flex-direction: row-reverse;
      text-align: right;
    }
  }
}

.item-picker-sockets-container {
  @include vertical-bottom;
  @include horizontal-center;
  width: 100%;
  display: flex;
  justify-content: center;
}

.selector-modal {
  .modal-header {
    padding-bottom: 0;

    .selector-modal-tabs {
      border-bottom: 0;

      .selector-modal-tab-gem {
        height: 100%;
        padding: 0;
        padding: calc(var(--bs-nav-link-padding-y) / 2) calc(var(--bs-nav-link-padding-x) / 2);
        margin-left: calc(var(--bs-nav-link-padding-x) / 2);
        margin-right: calc(var(--bs-nav-link-padding-x) / -2);
        display: flex;
        align-items: center;
        opacity: .7;
        transition: opacity .15s ease-in-out;

        &:hover, &.active {
          opacity: 1;
        }

        .gem-socket-container {
          --gem-width: 2rem;
        }
      }
    }
  }
}

@include media-breakpoint-down(xl) {
  .gear-picker-right {
    margin-bottom: 2 * map.get($spacers, 3);
  }
}

@include media-breakpoint-down(md) {
  .gear-picker-root {
    .gear-picker-left {
      .item-picker-root:last-child {
        margin-bottom: map.get($spacers, 5);
      }
    }

    .gear-picker-right {
      .item-picker-root {
        flex-direction: row;
        text-align: left;
      }
    }
  }
}

.item-picker-labels-container {
  padding: map.get($spacers, 2);
  flex: 1;

  .item-picker-name {
    color: white;
    font-size: map.get($font-sizes, 6);
    letter-spacing: normal;
  }
  
  .item-picker-enchant {
    color: $item-quality-uncommon;
    font-size: $content-font-size;
    letter-spacing: normal;
  }
}

@include media-breakpoint-down(md) {
  .gear-picker-root {
    .gear-picker-left {
      .item-picker-root:last-child {
        margin-bottom: map.get($spacers, 5);
      }
    }

    .gear-picker-right {
      .item-picker-root {
        flex-direction: row;
        text-align: left;
      }
    }
  }
}

.item-picker-labels-container {
  padding: map.get($spacers, 2);
  flex: 1;

  .item-picker-name {
    color: white;
    font-size: map.get($font-sizes, 6);
    letter-spacing: normal;
  }
  
  .item-picker-enchant {
    color: $item-quality-uncommon;
    font-size: $content-font-size;
    letter-spacing: normal;
  }
}

.selector-modal-tab-content {
  .selector-modal-tab-pane {
    padding: 0;
  
    .selector-modal-filters {
      margin-bottom: map.get($spacers, 3);
      display: flex;
      align-items: center;

      &> *:not(:last-child) {
        margin-right: map.get($spacers, 2);
      }

      input, select {
        padding-top: $btn-padding-y;
        padding-bottom: $btn-padding-y;
        font-size: $btn-font-size;
      }
    }
  }
}

.selector-modal-search {
	max-width: 12rem;
}

.selector-modal-phase-selector {
  min-width: 7rem;

  .phase-selector {
    margin-bottom: 0;
  }
}

.selector-modal-remove-button {
  margin-left: auto;
}

.selector-modal-list {
	max-height: 70vh;
	overflow-y: scroll;
	overflow-x: hidden;
  padding: 0;
}

.selector-modal-list-label-cell {
	width: 100%;
	display: flex;
	align-items: center;
}

.selector-modal-list-item {
  display: flex;
  align-items: center;
  padding: 2px;
	text-shadow: 2px 2px 3px black;
	background-color: #111218;
}
.selector-modal-list-item.hidden {
	display: none;
}
.selector-modal-list-item.odd {
  background: #222;
}
.selector-modal-list-item:hover {
  background: #333;
}

.selector-modal-list-item.active .selector-modal-list-item-icon {
  border: 3px solid lawngreen;
}

.selector-modal-list-item-icon {
  @include wowhead-background-icon;
  width: 50px;
  height: 50px;
  border: 2px solid #888;
}

.selector-modal-list-item-name {
  font-size: 18px;
  cursor: pointer;
  margin-left: 10px;
	letter-spacing: normal;
}

.selector-modal-list-item-source-container {
	margin: 0 10px;
	width: 300px;
	font-size: 11px;
}

.selector-modal-list-item-favorite {
	margin: 0 10px;
	font-size: 22px;
	color: yellow;
}
.selector-modal-list-item-favorite:hover {
	text-shadow:
		0 0 10px white,
		0 0 10px white;
}

.selector-modal-list-item-ep {
	display: flex;
	font-size: 16px;
	font-weight: 800;
}

.selector-modal-list-item-ep > span {
	display: inline-block;
	margin: 5px;
	color: white;
	min-width: 50px;
	text-align: right;
}

@include media-breakpoint-down(lg) {
  .item-picker-icon {
    width: 48px;
    height: 48px;
  }
}
