.icon-picker {
  width: unset !important;
  margin-bottom: 0 !important;
  flex-direction: row !important;
  align-items: center !important;

  .icon-picker-button,
  .icon-dropdown-option,
  .icon-input-improved {
    width: 40px;
    height: 40px;
    border: 1px solid $border-color;
    transition: border-color .25s ease-in-out;
    background-size: cover;

    &.active {
      border-color: $success;
    }
  }

  .icon-picker-button,
  .icon-dropdown-option {
    position: relative;
    display: block;
    background-color: grey;

    .icon-picker-label {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: center;
      background: rgba(0,0,0,.3);
      color: $success;
      font-size: .625rem;
      font-weight: bold;
      white-space: nowrap;
    }
  }

  .icon-input-level-container {
    position: relative;
    width: 100%;
    height: 100%;
    margin: -1px;

    .icon-input-improved {
      position: absolute;
      inset: 0;
      display: none;

      &.active {
        display: block;
      }
    }
  }

  label {
    margin-left: .5rem;
  }

  .dropdown-menu {
    min-width: unset;
    background: grey;

    &.show {
      display: grid;
    }

    .icon-dropdown-option {
      padding: 0;
      background-color: grey;
      filter: opacity(.7);

      &:hover {
        filter: none;
      }
    }
  }
}
