@use "sass:map";

.input-root {
  width: 100%;
  margin-bottom: $block-spacer;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &.disabled {
    filter: opacity(0.5);
  }

  &.input-inline {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    input, select {
      width: 5rem;
    }
  }

  &:not(.input-inline) {
    .form-label {
      white-space: nowrap;
    }
  }
}

.picker-group {
  display: flex;

  .input-root {
    flex: 1;

    &:not(:last-child) {
      margin-right: map.get($spacers, 3);
    }
  }
}

@include media-breakpoint-down(xl) {
  .picker-group {
    width: 100%;
    flex-wrap: wrap;

    &> * {
      flex-basis: 50%;

      &:nth-child(2n) {
        margin-right: 0 !important;
      }
    }
  }
}
