@use "sass:map";

.item-swap-picker-root {
  .picker-group {
    align-items: center;
    justify-content: flex-end;

    &> * {
      margin-bottom: 0 !important;
    }

    &> :last-child {
      margin-right: 0;
    }
  }

  .input-root:not(:last-child) {
    margin-right: map-get($spacers, 1);
  }
}
