@use "sass:map";

@import "./icon_picker";

.multi-icon-picker-root {
  display: flex;
  align-items: center;

  .multi-icon-picker-label {
    margin-bottom: 0;
  }

  .dropdown-menu {
    grid-auto-flow: column;

    .icon-picker {
      margin-bottom: 0;
    }
  }
}
