@use "sass:map";

@import "./icon_picker";

.multi-icon-picker-root {
  display: flex;
  align-items: center;

  .dropdown {
    .multi-icon-picker-label {
      margin-bottom: 0;
    }

    .icon-dropdown-option {
      .input-root {
        margin: 0 !important;
      }
    }
  }
}
