@use "sass:map";

.popup {
	@include vertical-horizontal-center;
	min-width: 50%;
	max-height: 98vh;
	overflow-y: auto;
	padding: 1rem;
	background-color: #111218;
	border: 1px solid var(--theme-color-primary);
	border-radius: 6px;
  max-width: 100%;
	color: white;

	.close-button {
		position: absolute;
		top: map.get($spacers, 3);
		right: map.get($spacers, 3);
	}
}
