.raid-target-picker-root {
	width: unset;
	margin-bottom: 0;

	.player {
		width: 8rem;
	}

	.raid-target-picker-button {
		width: 100%;
	}

	.dropdown-menu {
		grid-template-columns: repeat(2, 1fr);

		&.show {
			display: grid;
		}
	}
}
