@use "sass:map";

.saved-data-manager-root {
  .saved-data-container {
    margin-bottom: map.get($spacers, 3);
    display: flex;
    flex-wrap: wrap;

    .saved-data-set-chip {
      padding: 0;
      margin-bottom: map.get($spacers, 2);
      margin-right: map.get($spacers, 2);
      border: 1px solid $primary;
      display: flex;
      font-size: $content-font-size;
      transition: $btn-transition;

      &.active {
        @extend .text-bg-primary;

        .saved-data-set-name, .saved-data-set-delete {
          color: color-contrast($primary);
        }
      }

      &.disabled {
        display: none;
      }

      &:hover:not(.active) {
        background: rgba($primary, .2);
      }

      .saved-data-set-name {
        padding: map.get($spacers, 2);
        color: $body-color;
      }

      .saved-data-set-delete {
        padding: map.get($spacers, 2) 0;
        margin-right: map.get($spacers, 2);
        color: $body-color;
      }
    }
  }

  .saved-data-create-container {
    display: flex;
    flex-direction: column;

    .saved-data-save-input, .saved-data-save-button {
      width: 10rem;
    }

    .saved-data-save-input {
      margin-bottom: .75rem;
    }
  }
}

@include media-breakpoint-down(xxl) {
  .saved-data-manager-root {
    .saved-data-create-container {
      .saved-data-save-input {
        width: 100%;
      }

      .saved-data-save-button {
        width: 100%;
      }
    }
  }
}
