#simTitle {
  .sim-title-dropdown-root {
    .sim-link-dropdown {
      height: 100%;

      &> .sim-link {
        height: 100%;
      }

      &> .dropdown-menu {
        width: 100%;
      }
    }
  }

  .dropdown-menu {
    background: $dropdown-bg;

    .dropdown-menu {
      min-width: 300px;
    }
  }

  .sim-link {
    background: $dropdown-bg;

    &:hover, &:focus, &.active, &.show {
      background: $dropdown-link-hover-bg;
    }

    .sim-link-content {
      padding-left: $gap-width;
      padding-right: $gap-width;
    }
  }
}

@include media-breakpoint-down(xxl) {
  #simTitle {
    .sim-link {
      .sim-link-content {
        padding-left: $gap-width-sm * 2;
        padding-right: $gap-width-sm * 2;
      }
    }
  }
}

@include media-breakpoint-down(lg) {
  #simTitle {
    .sim-link {
      .sim-link-content {
        padding-left: $gap-width-sm;
        padding-right: $gap-width-sm;
      }
    }
  }
}
