$icon-size: 48px;

#simTitle {
  height: calc($header-height + 1px);
  margin: 0;
  border-bottom: 1px solid $border-color;

  &>.sim-title-dropdown-root {
    &> .sim-link-dropdown {
      &> .dropdown-menu {
        width: 100%;
      }
    }
  }

  .dropdown-menu {
    background: $body-bg;

    .dropdown-menu {
      min-width: 300px;
    }
  }

  .sim-link {
    background: $body-bg;

    &:hover, &:focus, &.active, &.show {
      background: darken($body-bg, 3);
    }

    .sim-link-content {
      padding-left: $gap-width;
      padding-right: $gap-width;

      .sim-link-icon {
        width: 48px;
        height: 48px;
      }

      .sim-link-label {
        &:first-child {
          font-size: 0.75rem !important;
          font-weight: normal;
        }

        &:last-child {
          font-size: 1.25rem !important;
          font-weight: bold;
        }
      }
    }
  }
}
