.sim-title {
  // Same as sim header
  position: sticky;
  top: -1px;
  height: calc($sim-header-height + 1px);
	border-bottom: 1px solid $border-color;

  .sim-title-dropdown-root {
    height: calc(#{$sim-header-height} - 1px);

    .sim-link-dropdown {
      height: 100%;

      &> .dropdown-menu {
        width: 100%;
      }
    }
  }

  .dropdown-menu {
    background: $dropdown-bg;
    border: none;
    z-index: 1500;

    .dropdown-menu {
      min-width: 300px;
    }
  }

  .sim-link {
    background: $dropdown-bg;
    height: 100%;

    &:hover, &:focus, &.active, &.show {
      background: $dropdown-link-hover-bg;
    }

    .sim-link-content {
      padding-left: $gap-width;
      padding-right: $gap-width;
    }
  }
}

@include media-breakpoint-down(xxl) {
  .sim-title {
    .sim-link {
      .sim-link-content {
        padding-left: $gap-width-sm * 2;
        padding-right: $gap-width-sm * 2;
      }
    }
  }
}

@include media-breakpoint-down(lg) {
  .sim-title {
    .sim-link {
      .sim-link-content {
        padding-left: $gap-width-sm;
        padding-right: $gap-width-sm;
      }
    }
  }
}
