@use "sass:map";

.ep-weights-menu {
	.ep-weights-options {
		margin-bottom: $block-spacer;
	}

	.results-ep-table-container {
		max-height: 50vh;
		overflow-y: auto;

		.results-ep-table {
			width: 100%;
			
			&.stats-type-ep .type-weight,
			&.stats-type-weight .type-ep,
			&:not(.show-all-stats) .non-ep-stat {
				display: none;
			}

			th, td {
				padding-top: map.get($spacers, 2);
				padding-bottom: map.get($spacers, 2);

				&:not(:last-child) {
					padding-right: map.get($spacers, 3);
				}

				&[class*="type-"] {
					text-align: right;
				}
			}

			th {
				position: sticky;
				top: 0;
				background: $body-bg;
				text-align: left;

				&::after {
					content: "";
					position: absolute;
					bottom: 0;
					left: 0;
					right: 0;
					height: 1px;
					background-color: $border-color;
				}
			}

			tbody tr {
				border-bottom: 1px solid $border-color;
			}

			.input-root {
				margin-bottom: 0;
			}

			.results-stdev {
				font-size: .625rem;
			}
		}
	}
}

.show-all-stats-container .boolean-picker-root {
	margin-bottom: 0 !important;

	label {
		margin-right: $block-spacer;
	}
}

.results-ep-table .col-action {
	margin-left: map.get($spacers, 1);
}
