.totems-settings {
	.totem-dropdowns-container {
		grid-template-columns: repeat(4, minmax(0, 1fr));
	}

	.fire-elemental-inputs-container {
		display: flex;
	}

	.icon-picker-button {
		&:not(.active) {
			filter: none;
		}
	}
}
