.unit-picker-root {
	border: 1px solid white;
	color: white;
	text-shadow:
		0 0 3px black,
		0 0 3px black,
		0 0 3px black;
}

.unit-filter-option {
	height: 30px;
}

.unit-picker-item-icon {
	margin: 2px;
	height: 25px;
}

.unit-picker-item-label {
	font-size: 14px;
	margin: 2px;
}
