.detailed-results-manager-root {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.detailed-results-controls-div {
	margin-bottom: calc(var(--bs-gap) / 2);
}

.detailed-results-iframe {
	flex-grow: 1;
}
