@import "./enum_picker";
@import "./list_picker";
@import "./number_picker";

.encounter-picker-root {
	text-align: center;
}

.encounter-picker-root .input-root {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.advanced-button {
}

.encounter-header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	border-bottom: 1px solid white;
	margin: 2px;
}

.encounter-header .input-root {
	margin: 5px 5px;
	white-space: nowrap;
}

.encounter-targets {
	max-height: 80vh;
	overflow-y: auto;
}

.targets-picker {
	text-align: center;
}

.target-picker-root {
	display: flex;
}

.target-picker-section {
	margin: 2px 5px;
}

.target-picker-section .input-root {
	display: flex;
	justify-content: space-between;
  align-items: center;
}
.target-picker-section .input-label-div {
	white-space: nowrap;
}

.npc-picker .enum-picker-selector {
	max-width: max(15vw, 200px);
}
