$theme: 'shaman';

// Set color variables which control the site theme.
.enhancement-shaman-sim-ui {
	--theme-color-primary: #228db0;
	--theme-color-background: #181d2d;
	--theme-color-background-raw: 24, 29, 45;
	--theme-background-image: url('/wotlk/assets/img/enhancement_shaman_background.jpg');
	--theme-background-opacity: 0.95;
	--main-text-color: White;
}

// Set grid width for icon sections based on how many buffs we configured.
.enhancement-shaman-sim-ui .self-buffs-section {
  grid-template-columns: repeat(2, 1fr);
}

// Enhancement has a lot of EP stats, so make the text smaller so it fits vertically.
.enhancement-shaman-sim-ui .character-stats-table-row {
  font-size: 11px;
}
