@use "sass:map";

.sim-link {
  display: flex;

  &:hover, &.show {
    background-color: rgba(0,0,0,0.5);
  }

  .sim-link-content {
    padding: map.get($spacers, 2);
    display: flex;
    align-items: center;

    .sim-link-icon {
      width: 48px;
      height: 48px;
      margin-right: map.get($spacers, 2);
    }

    .sim-link-label {
      font-weight: bold;
      white-space: nowrap;

      &:first-child {
        font-size: .75rem;
        font-weight: normal;
      }

      &:last-child {
        font-size: 1.25rem;
        font-weight: bold;
      }
    }
  }
}

.sim-link-dropdown {
  .dropdown-menu {
    background: rgba(0,0,0,.5);
  }
}

@include media-breakpoint-down(lg) {
  .sim-link-dropdown {
    .dropdown-menu {
      position: relative !important;
      inset: 0 !important;
      transform: none !important;
    }
  }
}