@use "sass:map";

#simHeader {
	padding-top: $gap-width;
	display: flex;
	align-items: flex-end;
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */

	&::-webkit-scrollbar {
		display: none;
	}

	.sim-tabs {
		border-bottom: 0;
	}

	.import-export {
		display: flex;

		.sim-dropdown-menu {
			display: flex;
		
			.import-link, .export-link {
				padding: $nav-link-padding-y $nav-link-padding-x;
				white-space: nowrap;
				transition: $link-transition;
			}

			.dropdown-menu {
				min-width: 100%;
				border: 1px solid var(--theme-color-primary);
			}
		}
	}

	.sim-toolbar {
		height: 100%;
		margin-left: auto;
		display: flex;
		align-items: center;
		font-size: $content-font-size;

		.sim-toolbar-item {
			margin-left: map.get($spacers, 3);
			display: flex;
			transition: $link-transition;

			.warnings {
				text-shadow:
						0 0 10px $danger,
						0 0 10px $danger,
						0 0 10px $danger;
			}

			.known-issues {
				color: #ef9eaa;
			}

			.patreon-link {
				margin-left: map.get($spacers, 3);
			}
		}
	}
}

@include media-breakpoint-down(lg) {
	#simHeader {
		padding-top: $gap-width-sm;
		overflow-x: scroll;
	}	
}

// TODO: Replace with Bootstrap media query once on to node module
// @media only screen and (max-width: 992px) {
// 	#simHeader {
// 		overflow-x: scroll;

// 		.sim-tabs {
// 			flex-wrap: nowrap;

// 			.sim-link {
// 				white-space: nowrap;
// 			}
// 		}
// 	}

// 	.known-issues {
// 		white-space: nowrap;
// 	}
// }