.sim-content {
  min-width: calc(275px + 1vw);
  display: flex;
  flex-flow: column;
	background-size: cover;
	background-position: center center;
  color: var(--main-text-color);

  .sim-main {
    height: 80%;
    display: flex;
    flex-grow: 1;

    .tab-pane {
      max-width: 100%;
      flex-grow: 1;
      padding-top: $gap-width;
      padding-bottom: $gap-width;
    }
  }
}

@include media-breakpoint-down(lg) {
  .sim-content {
    .sim-main {
      .tab-pane {
        padding-top: $gap-width-sm * 2;
        padding-bottom: $gap-width-sm * 2;
      }
    }
  }
}
