@use "sass:map";

$sim-header-height: 72px;

html {
	overflow: hidden;
}

body {
  margin: 0;
}

td, th {
  padding: auto;
}

.sim-ui {
	height: 100%;

	.sim-root {
		height: 100%;
		display: flex;
		flex-wrap: wrap;
		overflow-y: auto;
	}

	#noticesBanner {
		width: 100%;
		background: lighten($body-bg, 5);
	}

	#simTitle, #simHeader {
		height: $sim-header-height;
		border-bottom: 1px solid $border-color;

		.sim-title-dropdown-root {
			height: $sim-header-height - 1px;
		}
	}

	#simContent {
		padding-left: $gap-width * 2;
  	padding-right: $gap-width * 2;
	}
}

.sim-sidebar-results {
  flex-grow: 1;
}

.sim-sidebar-results {
  height: 100%;
  position: relative;
}

.sim-sidebar-results > div {
  @include vertical-horizontal-center;
  width: 100%;
	text-align: center;
}

.results-pending .loader {
  margin: auto;
}

.iterations-label {
	color: var(--sidebar-text-color);
}

.results-sim {
	color: var(--sidebar-text-color);
	text-shadow: 0 0 10px var(--sidebar-highlight-color);
}

.hide-damage-metrics .damage-metrics {
	display: none !important;
}

.hide-threat-metrics .threat-metrics {
	display: none !important;
}

.hide-healing-metrics .healing-metrics {
	display: none !important;
}

.hide-experimental .experimental {
	display: none !important;
}

.hide-in-front-of-target .in-front-of-target {
	display: none !important;
}

@include media-breakpoint-down(lg) {
	$sim-header-height: 65px;

	.sim-ui {
		#simTitle, #simHeader {
			height: $sim-header-height;
	
			.sim-title-dropdown-root {
				height: $sim-header-height - 1px;
			}
		}

		#simContent {
			padding-left: $gap-width;
    	padding-right: $gap-width;
		}
	}
}

@include media-breakpoint-down(sm) {
  .sim-ui {
		#simContent {
			padding-left: $gap-width-sm;
			padding-right: $gap-width-sm;
		}
	}
}
