@use "sass:map";

$sim-header-height: 72px;

td, th {
  padding: auto;
}

.sim-ui {
	overflow: auto;

	.sim-root {
		height: 100%;
		display: flex;

		.sim-bg {
			position: fixed;
			inset: 0 0 0 0;
			background-image:
				linear-gradient(rgba(var(--theme-color-background-raw), var(--theme-background-opacity)), rgba(var(--theme-color-background-raw), var(--theme-background-opacity))),
				var(--theme-background-image);
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			z-index: -1;
		}
	
		.notices-banner {
			width: 100%;
			background: lighten($body-bg, 5);
		}
	
		.sim-sidebar, .sim-content {
			min-height: 100vh;
		}

		.sim-sidebar {
			flex:1;

			.sim-title {
				height: $sim-header-height;
				border-bottom: 1px solid $border-color;
	
				.sim-title-dropdown-root {
					height: $sim-header-height - 1px;
				}
			}
		}
	
		.sim-content {
			padding-left: $gap-width * 2;
			padding-right: $gap-width * 2;
			flex: 4;
	
			.sim-header {
				height: $sim-header-height;
				border-bottom: 1px solid $border-color;
			}
		}
	}
}

// TODO: Move these to an organized partial
.hide-damage-metrics .damage-metrics {
	display: none !important;
}

.hide-threat-metrics .threat-metrics {
	display: none !important;
}

.hide-healing-metrics .healing-metrics {
	display: none !important;
}

.hide-experimental .experimental {
	display: none !important;
}

.hide-in-front-of-target .in-front-of-target {
	display: none !important;
}
// END TODO

@include media-breakpoint-down(lg) {
	$sim-header-height: 65px;

	.sim-ui {
		.sim-root {
			flex-direction: column;
			flex-wrap: nowrap;

			.sim-bg {
				left: 0;
			}

			.sim-sidebar, .sim-content {
				width: 100%;
			}

			.sim-sidebar {
				.sim-title {
					height: $sim-header-height;
		
					.sim-title-dropdown-root {
						height: $sim-header-height - 1px;
					}
				}

				.sim-sidebarContent {
					padding-left: $gap-width-sm;
					padding-right: $gap-width-sm;
				}
			}

			.sim-content {
				padding-left: $gap-width-sm;
				padding-right: $gap-width-sm;

				.sim-header {
					height: $sim-header-height;
				}
			}
		}
	}
}

@include media-breakpoint-down(sm) {
  .sim-ui {
		.sim-content {
			padding-left: $gap-width-sm;
			padding-right: $gap-width-sm;
		}
	}
}
