@use "sass:map";

@import "../components/sim_title_dropdown";

#simSidebar {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background: $body-bg;
  flex: 1;

  #simSidebarContent {
    padding-top: $gap-width;
    padding-left: $gap-width;
    padding-right: $gap-width;
    padding-bottom: map.get($spacers, 3);
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .sim-sidebar-actions {
      padding-left: $gap-width * 2;
      padding-right: $gap-width * 2;
      display: flex;
      flex-direction: column;
      align-items: center;

      &> * {
        margin-bottom: map.get($spacers, 3);
      }

      .iterations-picker {
        width: 100%;
        flex-flow: column;

        .number-picker-input {
          width: 100%;
          margin-top: 0;
          margin-left: 0;
          margin-right: 0;
        }
      }
    }
  }
}

@include media-breakpoint-down(xxl) {
  #simSidebar {
    #simSidebarContent {
      padding-left: $gap-width-sm * 2;
      padding-right: $gap-width-sm * 2;

      .sim-sidebar-actions {
        padding: 0;
      }
    }
  }
}

@include media-breakpoint-down(lg) {
  #simSidebar {
    #simSidebarContent {
      padding-top: $gap-width-sm * 2;
      padding-bottom: $gap-width-sm;
      padding-left: $gap-width-sm;
      padding-right: $gap-width-sm;
    }
  }
}
