@import "./shared";
@import "./sim_ui";
@import "./components/bonus_stats_picker";
@import "./components/boolean_picker";
@import "./components/character_stats";
@import "./components/cooldowns_picker";
@import "./components/detailed_results";
@import "./components/encounter_picker";
@import "./components/exporters";
@import "./components/enum_picker";
@import "./components/gear_picker";
@import "./components/icon_enum_picker";
@import "./components/icon_picker";
@import "./components/importers";
@import "./components/log_runner";
@import "./components/number_list_picker";
@import "./components/number_picker";
@import "./components/raid_sim_action";
@import "./components/raid_target_picker";
@import "./components/saved_data_manager";
@import "./components/settings_menu";
@import "./components/stat_weights_action";
@import "./talents/talents_picker";

.within-raid-sim .within-raid-sim-hide {
	display: none;
}

.not-within-raid-sim .not-within-raid-sim-hide {
	display: none;
}

.character-stats-header {
	padding: 5px;
	font-size: 14px;
}

.character-stats-table {
	padding: 10px;
}

.character-stats-table-row {
	color: var(--main-text-color);
	border-bottom: 1px solid #315869;
	font-size: 16px;
	font-weight: 600;
}

.gear-tab-columns {
	display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  height: 100%;
}

.left-gear-panel {
  min-width: calc(500px + 2vw);
  flex: 3;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: 1vh;
}
@media only screen and (max-width: calc(750px + 1vw)) {
  .left-gear-panel {
    min-width: calc(250px + 1vw);
  }
}

.right-gear-panel {
  text-align: center;
  border-left: 3px solid var(--main-text-color);
  position: relative;
  flex: 1.25;
  min-width: 250px;
  min-height: 450px;
  height: calc(90% - 60px);
  margin-top: 10px;
  margin-bottom: 10px;
}
@media only screen and (max-width: calc(1000px + 2vw)) {
  .right-gear-panel {
    border-left: none;
  }
}
@media only screen and (max-width: calc(750px + 1vw)) {
  .right-gear-panel {
    min-width: 250px;
    border-left: none;
  }
}

.bonus-stats-root {
  justify-content: end;
  text-align: right;
	color: var(--main-text-color);
  margin-bottom: 20px;
}

.bonus-stats-root .number-picker-root {
  justify-content: end;
}

.saved-gear-manager {
  @include horizontal-right;
  text-align: right;
}

.saved-data-set-chip {
	color: var(--main-text-color);
	border-color: var(--theme-color-primary);
}
.saved-data-set-chip.active {
	color: var(--main-text-color);
	background-color: var(--theme-color-primary);
}

.saved-data-set-delete {
	color: var(--main-text-color);
}

.settings-tab {
	overflow-y: auto;
}
.settings-inputs {
  position: relative;
}
.settings-section-container {
  position: absolute;
}
.settings-section {
  border: 2px solid var(--main-text-color);
  padding: 4px;
  margin: 5px;
	display: grid;
	transform: none !important;
}

.settings-section>legend {
  padding: 0 10px;
	margin: 0 3px;
  font-weight: 900;
	color: var(--main-text-color);
  font-size: 18px;
	white-space: nowrap;
	border: none;
	width: auto;
}

.settings-section .icon-enum-picker-root {
	margin: 1px;
}

.settings-section .icon-enum-picker-root a {
	height: 46px;
	width: 46px;
}

.settings-bottom-bar {
  margin: 20px;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.race-section {
  text-align: center;
}
.race-section > legend {
  text-align: left;
}

.rotation-section > div, .other-settings-section > div {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.self-buffs-section>div {
  display: grid;
}

.buffs-section>div {
  display: grid;
}

.consumes-section>div {
  display: grid;
}

.consumes-row {
	display: flex;
	align-items: center;
}
.consumes-row > span {
	margin: 5px;
}
.consumes-row-inputs {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-grow: 1;
}
.consumes-row-inputs > * {
	margin: 2px;
}

.debuffs-section>div {
  display: grid;
}

.cooldowns-section-container {
	z-index: 1000;
}

.saved-encounter-manager {
  display: inline-block;
  text-align: left;
}

.saved-rotation-manager {
  display: inline-block;
  text-align: center;
}

.saved-settings-manager {
  display: inline-block;
  text-align: right;
}

.talents-tab {
}

.saved-talents-manager {
  text-align: center;
}

.saved-talents-manager .saved-data-container, .saved-talents-manager .saved-data-create-container {
  display: inline-block;
}
